<div id="mySidebar" class="sidebar" style="width: 250px;">
  <a href="javascript:void(0)"> 
    <span style="color: white; float: left;font-size: 25px !important;">Web Chat</span>
    <a class="closebtn" (click)="closeNav()" *ngIf="!isOpen" style="font-size: 26px; background-color: #212529;">
      ☰
    </a>
  </a>
  <hr/>
  <a href="dashboard">Dashboard</a>
  <a href="send-sms">Send SMS</a>
  <a href="send-email">Send Email</a>

  <a class="logOutBtn d-flex align-items-center text-white text-decoration-none" aria-expanded="false" (click)="logout()">
    <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
    <span class="d-none d-sm-inline mx-1">Logout</span>
  </a>
</div>

<div id="main" style="margin-left: 250px; padding: 0;">
  <nav class="navbar navbar-expand-lg text-white" style="background-color: #212529;">
    <div class="text-white ms-1">
      <a class="closebtn ms-1 me-1" (click)="openNav()" *ngIf="isOpen">☰</a>
      <a class="navbar-brand text-white">Dashboard</a>
    </div>
  </nav>
  <div class="px-4 mt-3">
    <router-outlet></router-outlet>
  </div>
</div>